@use 'styles/_variables' as *
$card-bg: linear-gradient(90deg, rgba(39,40,72,1) 0%, rgba(55,21,58,1) 100%, rgba(0,212,255,1) 100%)
$b-radius: .5rem

.card-root
  color: white
  .card-header
    $padding: .5rem
    width: 100%
    display: flex
    align-items: stretch
    background: $card-bg
    border-top-left-radius: $b-radius
    font-weight: 700
    .coin-name
      padding: $padding
      width: 100px
      text-align: center
      text-transform: uppercase
    .coin-status
      flex: 1
      padding: $padding
      text-transform: capitalize
      text-align: right
      background: $block

  .card-main
    text-align: center
    font-weight: 500
    background: $card-bg
    display: flex
    flex-direction: row
    height: 100px
    border:
      top-right-radius: $b-radius
      bottom-right-radius: $b-radius
      bottom-left-radius: $b-radius

  .card-logo-container
    width: 115px
    display: flex
    .card-logo
      width: 70px
      height: 70px
      margin: auto
      border-radius: 35px
      overflow: hidden
    
  .card-info
    display: flex
    justify-content: center
    flex: 1
      direction: column
    .coin-price
      font-size: 21px
      margin-bottom: 13px
    .coin-expiry-date
      font-size: 13px

        
